<div class="card mb-3">
  <%= form_with(model: record, local: true) do |form| %>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <% if @record.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@record.errors.count, "error") %> prohibited
                this record from being saved:
              </h2>
              <ul>
                <% @record.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="name" class="control-label custom-control-label">Name</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-compact-disc" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="record-name" name="record[name]" value="<%= @record.name %>">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="control-label custom-control-label">Description</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-compact-disc" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="record-description" name="record[description]" value="<%= @record.description %>">
            </div>
          </div>
          <div class="form-group">
            <label for="value" class="control-label custom-control-label">Value</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-compact-disc" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="record-value" name="record[value]" value="<%= @record.value %>">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Save</button>
      </div>
    </div>
  <% end %>
</div>

