<p id="notice"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-compact-disc"></i>
    <%= @record.name %>
    <%= link_to edit_record_path(@record) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </div>
  <div class="card-body">
    <p>Description: <%= @record.description %></p>
    <p>Value: <%= @record.value %></p>
  </div>
</div>
