<p id="notice"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-compact-disc"></i>
      Releases by <%= link_to @artist.name, artist_path(@artist) %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Title</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @releases.each do |release| %>
            <tr>
              <td><%= link_to release.title, artist_release_path(artist_id: @artist.id, id: release.id) %></td>
              <td class="text-right">
                <%= link_to edit_artist_release_path(artist_id: @artist.id, id: release.id) do %>
                  <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to artist_release_path(artist_id: @artist.id, id: release.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
<%= link_to(t('.new'),
    new_artist_release_path,
    class: "btn btn-dark btn-lg btn-block login-button")
%>
</div>